
*.pem

*.log

.env
hosts*.yaml
hosts*.yml

*.tar.gz

aixp_factory/aidamian-aixp_factory*.tar.gz

xperimental/e2-install-test1/factory
xperimental/e2-install-test1/install-factory.sh
xperimental/e2-install-test1/run.sh

_local_cache/
