{
    "NAME": "admin_pipeline",
    "TYPE": "VOID",
    "PLUGINS": [
        {
            "INSTANCES": [
                {
                    "INSTANCE_ID": "NET_MON_01_INST",
                    "PROCESS_DELAY": 10,
                    "SUPERVISOR": {{ (aixp_EE_SUPERVISOR | default('false') | lower) | tojson }}
                }
            ],
            "SIGNATURE": "NET_MON_01"
        },
        {
            "INSTANCES": [
                {
                  "PROCESS_DELAY"   : 60,
                  "WORKING_HOURS"   : 
                    {{ aixp_UPDATE_MONITOR_SCHEDULE | default('[]') | from_json | tojson }},    
                    
                  "VERSION_TOKEN"   : "$EE_GITVER",
                  "RESTART_ON_BEHIND": true,

                  "FORCE_RESTART_AFTER" : {{ aixp_UPDATE_MONITOR_RESTART | default(130000) }},
                  "REBOOT_ON_RESTART"   : {{ (aixp_UPDATE_MONITOR_REBOOT_ON_RESTART | default('false') | lower) | tojson }},


                  "VERSION_URL": "{{ aixp_VERSION_URL }}",
                  "USE_YAML" : {{ aixp_VERSION_USE_YAML | lower }},

                  "RELEASE_TAG" : "{{ aixp_app_target }}"      
                }
            ],
            "SIGNATURE": "UPDATE_MONITOR_01"
        }    
      ]
}