[Unit]
Description=AiXP Execution Engine
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker stop -t 20 aixp_ee
ExecStartPre=-/usr/bin/docker pull aixpand/exe_eng:{{ aixp_app_version }}
ExecStart=/usr/bin/docker run --rm --gpus all --network=host --env-file {{ aixp_base_folder }}/.env --ipc=host --name aixp_ee -v /dev/shm:/dev/shm -v {{ aixp_local_cache_folder }}:/exe_eng/_local_cache -v /etc/timezone:/etc/timezone -e EE_ID='{{ inventory_hostname }}' -e EE_DEVICE=cuda:0 'aixpand/exe_eng:{{ aixp_app_version }}'
ExecStartPost=/bin/sh -c 'sleep 30; /usr/bin/docker image prune -a -f'
ExecStop=/usr/bin/docker stop -t 20 aixp_ee

[Install]
WantedBy=multi-user.target
