[Unit]
Description=Decoder service with docker with json communication
After=docker.service
Requires=docker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
ExecStartPre=echo "***************** Container pre-start check *****************"
ExecStartPre=-/usr/bin/docker pull {{ aixp_cr_url }}/{{ aixp_lms_image }}:{{ aixp_app_version }}
ExecStartPre=/bin/sh -c '/usr/bin/docker stop -t 20 hyfy_lms_container ; /usr/bin/docker rm hyfy_lms_container ; echo "Container removed"'
ExecStart=docker run --rm -e GST_DEBUG='hyp*:4,2' --name="hyfy_lms_container" -t --ipc=host -m 2g -e DECODER_FORCED_PLUGIN_FEATURES='openh264dec' {{ aixp_cr_url }}/{{ aixp_lms_image }}:{{ aixp_app_version }}
ExecStop=docker rm hyfy_lms_container
ExecStop=echo "***************** Container stop check *****************"

[Install]
WantedBy=multi-user.target